if reviews
    each item in reviews
        .review-container
            .review-container__header
                span.review-container__author= item.name
                span.review-container__place= item.place
                span.review-container__time= item.time
            .review-container__review= item.review
else
    span.review-container__empty Нет отзывов