<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Geo-Review
    body
        div(id="map")
            span(id="map__text") Ищем вас...
        div(class="popup__wrapper")
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")